@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Shared styles */


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

@font-face {
  font-family: 'Miama';
  src: url('miama/Miama.ttf') format('truetype');
  font-weight: normal;
  /* Or bold, etc. */
  font-style: italic;
  /* Or italic, etc. */
}

main {
  background-color: black;
  max-width: 1440px;
  padding: 10px;
}


/* nav related styles */

header {
  background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
  background-color: rgba(0, 0, 0, 0.824);

}

nav {
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0px auto;
  padding: 10px
}

ul>li {
  list-style: none;
  padding: 10px;
}

ul>li :hover {
  background-color: brown;
}

ul>li>a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-links {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding-left: 0px;
}

.brand {
  font-size: 2.2rem;
  text-transform: italic;
  font-weight: 800;
  color: rgb(230, 83, 60);
}

.box {
  width: 18px;
  border: 2px solid #ffffff;
  margin-bottom: 3px;
  display: none;
  margin-right: 10px;
  border-radius: 10px;
  ;
}

/* banner related styles */

.banner {
  max-width: 1080px;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}



.banner-title {
  font-size: 4.2rem;
  color: #ffffff;
  font-weight: 800;
  margin: 5px;
}

.sp-fonts {
  font-family: 'Miama';
  font-size: 7rem;
}

.banner-content {
  color: rgba(255, 255, 255, 0.5);
  font-family: 1rem;
  font-weight: 400;
  max-width: 500px;
}

.btn-primary {
  border-radius: 40px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.2rem;
  padding: 15px 40px;
}

.btn-secondary {
  border-radius: 40px;
  background: rgba(16, 16, 16, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  font-size: 1.2rem;
  padding: 15px 40px;
}

.banner-image {
  position: relative;
}

.banner-image img {
  width: 100%;
}

.video-tutorial {
  position: absolute;
  bottom: 100px;
  left: -100px;
  color: #ffffff;
  width: 170px;
  height: 60px;
  text-align: center;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: rgba(48, 48, 48, 0.54);
  text-align: left;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.video-tutorial p {
  margin: 0px;
}

.workout-videos {
  position: absolute;
  top: 120px;
  right: -80px;
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: rgba(48, 48, 48, 0.54);
  s
}

.workout-videos p {
  margin: 0px;
}

.round-box {
  height: 40px;
  width: 40px;
  background: rgb(230, 83, 60);
  border-radius: 20px;
}

.big-txt {
  font-size: 1.25rem;
  font-weight: 900;
}

.big-txt2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #ffffff;
}

/* habbit related styles */

.images-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.habbit {
  max-width: 1080px;
  margin: 100px auto 50px;
}

.habbit-pic {
  border-radius: 50%;
}

.section-title {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  margin: 15px;
}

.section-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  text-align: center;
}

.pic-title {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
}

.pic-des {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  text-align: center;
}

.image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* for small devices */
@media screen and (max-width: 576px) {
  .box {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .banner, .images-container {
    flex-direction: column;
  }

  .big-txt {
    font-size: 1.1rem;
  }

  .big-txt2 {
    font-size: 1.2rem;
  }

  .video-tutorial {
    bottom: 50px;
    left: 10px;
  }

  .workout-videos {
    top: 70px;
    right: -10px;
  }
}